/* nav responsive style  */
@media screen and (min-width:576px) {
    .card {
        width: 70%;
    }

    .card-image img {
        height: 280px;
    }

    .seeMore-btn {
        margin: 30px 150px 0 0;
    }
    .logo{
        font-size: 30px;
    }
}

@media screen and (min-width:786px) {
    .logo{
        font-size: 35px;
    }
    .nav-list {
        display: block;
    }

    .menu-icon {
        display: none;
    }

    nav,
    .header,
    .sponser,
    .join-now {
        padding: 50px 120px;
    }


    .section-title {
        font-size: 50px;
    }

    /* header  */
    .header-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
    }

    .header-img {
        width: 40%;
    }

    .header-content {
        text-align: left;
        width: 50%;
    }

    .header-img img {
        width: 100%;
    }

    /* Sponser related */
    .sponser {
        margin-top: 80px;
    }

    .sponser-container {
        justify-content: space-around;
        padding: 40px 20px;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to right, rgba(77, 77, 78, 0), rgba(77, 77, 78, 0.281), rgba(77, 77, 78, 0.029)) 1;
        border-left: 0;
        border-right: 0;
    }


    /* Collection */
    .collection-content {
        grid-template-columns: 360px 360px;

    }

    .card {
        width: 330px;
    }

    .card-image img {
        height: 256px;
    }

    .join-now-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 50px;
    }
    .join-now-content{
        text-align: left;
        width: 58%;
    }
    .join-now-content btn{
        margin-left: 0;
    }
    .join-now-image{
        width: 40%;
     }
     .join-now{
        margin-top: 50px;
     }
/* footer */
     .footer{
        height: 240px;
     }
}

    @media screen and (min-width:992px) {
        .nav-list li {
            margin-right: 50px;
        }

    }



    @media screen and (min-width:1200px) {
        .collection-content {
            grid-template-columns: 360px 360px 360px;
    
        }
    }



    @media screen and (min-width:1400px) {
        body {
            max-width: 1920px;
            margin: 0 auto;
        }

    }